#city, #country {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #1D7874;
    outline: none;
    color: #4B3B47;
}

#country {
    margin-left: 3vh;
}

::placeholder {
    color: #1D7874;
}


#city:hover{
    border-color: #114B5F;
}

#country:hover{
    border-color: #114B5F;
}

#button-form {
    margin-top: 2vh;
}

#button-form {
    color: #E4FDE1;
    background-color: #1D7874;
    outline: none;
    box-shadow: 0 0 0 0;
    border-color: #F45B69;
}

#button-form:active {
    background-color: #F45B69;
    border-color: #F45B69;
}

#button-form:hover {
    background-color: #F45B69;
    border-color: #1D7874;
}

@media all and (max-width: 1300px) {
    #form {
        display: inline-block;
        align-items: center;

    }
    #country {
        margin-left: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#form {
    animation: fadeIn 4s;
}